/* Add your styles here! */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
 }

 p { 
    color: darkgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }