/* Add your styles here! */
h1 {
    font-family: 'Palatino', Times, serif;
    font-size: xx-large;
    text-align: center;
    color:black;
 }

 h2 {font-family: 'Palatino', Times, serif;
    font-size: 20px;
    text-align: left;
    color: black;
    font-style: italic;
}

 p { 
    font-family: 'Palatino', Times, serif;
    font-size: 20px;
    text-align: left;
 }

 ul {
    text-align: left;
    font-family: 'Palatino', Times, serif;
    font-size: 20px;
    list-style-position: outside;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20cm;
  }


 /* In this lines I am defining 3 class of <div> element */
      /* The first 'multiling' is the container for the two columns */
      .multiling {
         overflow: hidden;
         width:20cm;
         text-align: center;
         
         
     }
     /*  The second defines divs to the left */
     .left {
         float: left;
         width: 45%;
         color:rgb(25, 95, 25);
     }
     /* And the third to the right */
     .right {
         float: right;
         width: 45%;
         color:dimgray;
     }

     tei-div {display: block;}

     tei-fw[type="head"]{
        display:none;
    }

    tei-fw[type="catch"]{ 
        color:rgb(248, 58, 0);
    }

    tei-p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: justify;
    }

    tei-p {
        width: 17cm;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
        margin-left: auto;
        margin-right: auto;
        line-height: 1cm;
    }
    tei-div {
        text-align: justify;
    }

   tei-text[lang="eng"] tei-name[type="place"] {
    font-style:italic
   }

   tei-lb {
    display:none;
   }

   tei-pb {
    display:block;
    width: 100%;
    border: 2px solid rgba (36, 135, 36, 0.807);
}

tei-text[lang="esp"] tei-sic {
    color: rgba(36, 135, 36, 0.807);
}

tei-text[lang="eng"] tei-sic {
    color: rgba(36, 135, 36, 0.807);
}

body {
    background-color: #f9faf1;
}

tei-text[lang="eng"] tei-rs[type="caste"] {
    font-style:italic
   }

   tei-text[lang="eng"] tei-name[type="placeGeog"] {
    font-style:italic
   }